body {
    font-family: monospace;
}
  
header {

}

/* navbar */
ul {
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    display: flex;
    background-color: rgb(18, 12, 126);
}

li a {
    font-size: 150%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

li a:hover {
    text-decoration: underline;
    color: white;
  }

main {
    margin-left: 15%;
    margin-right: 15%;
}

.title {
 
}

h1 {
    
}

h2 {
   
}

/* main body of page */
.textBody {

}

h3 {

}

p {

}

.blogPost {
    text-align: left;
    overflow: hidden; 
}

.blogImg {
    float: left;
    width: 100%
    height: auto;
}
